@import "../../common-style/variables";

.store-scanning-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: $deep-black;
    min-height: 100vh;
    .title {
        font-family: din-condensed,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.3rem;
        text-transform: uppercase;
    }
    .scan-icon {
        width: 50%;
        min-height: 32px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 3rem;
            height: 3rem;
            top: -6px;
            left: -6px;
            border-top: 0.5px solid $light-black;
            border-left: 0.5px solid $light-black;
        }
        &::before {
            content: '';
            position: absolute;
            width: 3rem;
            height: 3rem;
            top: -6px;
            right: -6px;
            border-top: 0.5px solid $light-black;
            border-right: 0.5px solid $light-black;
        }
        > section {
            &::after {
                content: '';
                position: absolute;
                width: 3rem;
                height: 3rem;
                bottom: -6px;
                left: -6px;
                border-bottom: 0.5px solid $light-black;
                border-left: 0.5px solid $light-black;
            }
            > video {
                background-color: gray;
                width: 100%;
            }
            &::before {
                content: '';
                position: absolute;
                width: 3rem;
                height: 3rem;
                bottom: -6px;
                right: -6px;
                border-bottom: 0.5px solid $light-black;
                border-right: 0.5px solid $light-black;
            }
        }
    }
    .store-label {
        font-size: 1rem;
        font-weight: 400;
        padding: 2rem 1.2rem;
        width: 72%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 78px;
    }
    .action-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10%;
    }
}
