@import "../../common-style/variables";

.store-landing-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #e7e5de;
    min-height: 100vh;
    background: #323e47;
    padding: 0px 0px;
    .logo-container {
        margin-top: 30px;
    }
    label {
        font-family: din-condensed,sans-serif;
        font-size: 50px;
        font-weight: 400;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.25;
        letter-spacing: 0;
        text-align: center;
        width: 80%;
        padding: 30px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        &.mid {
            padding-bottom: 0px;
            padding-top: 0px;
        }
        &.first {
            padding-bottom: 0px;
        }
        &.last {
            padding-top: 0px;
        }
    }
    .title {
        font-family: din-condensed,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom: 0px;
        margin-top: 30px;
        font-stretch: condensed;
        line-height: 1.27;
        letter-spacing: normal;
        text-align: center;
        padding: 0px 12px;
        &.last {
            margin-bottom: 30px;
        }
    }
    .scan-icon {
        width: 50%;
    }
    .disclaimer-container {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: center;
        margin-top: 44px;
    }
    .pin-container {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        flex-direction: column;
        .pin-error {
            font-family: din-condensed,sans-serif;
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: condensed;
            line-height: 1;
            letter-spacing: normal;
            text-align: center;
            color: $bright-red;
            text-transform: uppercase;
            margin-top: 15px;
            opacity: 0;
            margin-bottom: 12px;
            &.show {
                opacity: 1;
            }
        }
    }
    .email-capture-container {
        display: flex;
        width: 100%;
        margin-top: 40px;
        flex-direction: column;
        .opt-in-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 25px;
            padding: 0 10%;
            a {
                color: #e7e5de !important;
                span {
                    display: none;
                }
            }
            span {
                display: flex;
                flex-wrap: wrap;
                color: #e7e5de !important;
                opacity: 0.75 !important;
                font-size: 14px !important;
                font-weight: 500 !important;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.43 !important;
                letter-spacing: normal;
                text-align: left !important;
            }
            .checkbox {
                width: 17px;
                height: 17px;
                position: relative;
                border: 1px solid #e7e5de;
                border-radius: 50%;
                margin-right: 9px;
                margin-top: 4px;
                label {
                  width: 20px;
                  height: 20px;
                  position: absolute;
                  top: -1px;
                  left: -2px;
                  cursor: pointer;
                  border-radius: 50px;
                  &:after {
                    content: '';
                    width: 6px;
                    height: 3px;
                    position: absolute;
                    top: 5px;
                    left: 6px;
                    border: 1px solid #e7e5de;
                    border-top: none;
                    border-right: none;
                    background: transparent;
                    opacity: 0;
                    transform: rotate(-45deg);
                  }
                }
                input[type=checkbox] {
                  visibility: hidden;
                  &:checked + label:after {
                    opacity: 1;
                  } 
                }   
            }
        }
        .input-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10%;
            width: 100%;
            input.coach-input {
                border: 0px;
                border-bottom: 1px solid rgb(231, 229, 222);
                outline: none;
                padding: 0.4rem 0;
                width: 100%;
                font-size: 16px;
                color: rgb(231, 229, 222);
                font-family: adobe-garamond-pro, serif;
                font-weight: 400;
                font-style: normal;
                background: transparent;
                &.active {
                    color: #e7e5de;
                    border-bottom: 1px solid #e7e5de;
                }
                &::placeholder {
                    color: #e7e5de;
                    opacity: 1; /* Firefox */
                }
            }
        }
    }
    .privacy-policy-link-container span {
        color: #e7e5de !important;
        opacity: 0.75 !important;
        a {
            color: #e7e5de !important;
            opacity: 0.75 !important;
        }
    }
    .store-code-label {
        font-family: din-condensed,sans-serif;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.25;
        letter-spacing: normal;
        color: #e7e5de;
        padding: 0px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 30px;
        padding: 0px 12px;
    }
    .store-label {
        font-family: din-condensed,sans-serif;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.25;
        letter-spacing: normal;
        color: #e7e5de;
        padding: 0 1.2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0.3rem;
    }
    .store-name {
        font-family: din-condensed,sans-serif;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.25;
        letter-spacing: normal;
        color: #e7e5de;
        padding: 0 1.2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .action-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10%;
        padding-bottom: 10px;
    }
    .locale-selector {
        display: flex;
        padding: 10%;
        padding-top: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width:600px)  {
    .store-landing-screen {
        .title {
            font-family: din-condensed,sans-serif;
            font-size: 80px;
            font-weight: 400;
            font-style: normal;
            font-stretch: condensed;
            line-height: 0.92;
            letter-spacing: normal;
            text-align: center;
            width: 80%;
            margin-top: 4rem;
            margin-bottom: 3rem;
        }
        .scan-icon {
            width: 180px;
        }
        span, span.store-label {
            font-size: 28px;
        }
        .action-container {
            width: 60%;
            padding: 4rem;
        }
        .locale-selector {
            width: 60%;
            padding: 4rem;
            padding-top: 0px;
        }
        img {
            width: 190px;
        }
    }
}
.zh .store-landing-screen .title {
    font-family: source-han-sans-simplified-c, sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
}
.es .store-landing-screen .title {
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
}
